container_commands:
    10_install_epel_release:
        command: "sudo amazon-linux-extras install epel -y"
        ignoreErrors: true
        test: test ! -d "/etc/letsencrypt/"
    20_enable_epel:
        command: "sudo yum-config-manager --enable epel*"
        ignoreErrors: true
        test: test ! -d "/etc/letsencrypt/"
    30_install_certbot:
        command: "sudo yum install certbot python2-certbot-nginx -y"
        ignoreErrors: true
        test: test ! -d "/etc/letsencrypt/"